body{
  font-family: 'Dancing Script', cursive;
  background: #000;
  font-size: 1.5em;
}
header{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  color: #fff;
  text-shadow: 2px 2px #02010A;
  display: flex;
  flex-flow: row wrap;
}
nav ul > li{
  display: inline-block;
  margin-right: 30px;
  list-style: none;
}
nav ul li > a{
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px #02010A;
}
#imagen-central{
  text-align: center;
  background: #82c3a6;
  margin: 0 auto;
}
.contenedor-imagen-principal{
  width: 80%;
  margin: 0 auto;
  padding: 30px;
}
img{
  box-shadow: 2px 2px #02010a;
  width: 100%;
}
#contenido, #galeria-fotografias{
  display: flex;
  flex-flow: row wrap;
  background: #D5C75F;
}
.contenedor-imagen-secundaria,.contenedor-galeria{
  text-align: center;
}
figure > a{
  color: #000;
}
.imagen-secundaria1 img:hover{
  transform: rotate(10deg);
  box-shadow:  2px 2px #82c3a6;
}
.imagen-secundaria1 img,.imagen-secundaria2 img{
  transition: transform 1s;
}
.imagen-secundaria2 img:hover{
  transform: translate(5px,-20px);
  box-shadow:  2px 2px #82c3a6;
}
footer{
  display: flex;
  flex-flow: row wrap;
  color: #000;
  border-radius: 0 0 10px 10px;
  background: #C6d5c5;
}
footer div>p{
  margin: 2px 20px 2px 20px;
}
footer div>h2{
  margin-left: 20px;
}
.footer-bloque3 p>img{
  box-shadow: none;
}
img[src="img/paisaje1.jpg"],img[src="img/retrato1.jpg"]{
  filter: blur(10px);
}
img[src="img/paisaje3.jpg"],img[src="img/retrato3.jpg"]{
  filter: sepia(90%);
}
img[src="img/paisaje2.jpg"],img[src="img/paisaje4.jpg"],img[src="img/paisaje6.jpg"],
img[src="img/retrato2.jpg"],img[src="img/retrato4.jpg"],img[src="img/retrato6.jpg"]{
  filter: grayscale(100%);
}
@media all and (min-width:900px) {
  #contenedor{
    max-width: 900px;
    margin: 0 auto;
  }
  header, #imagen-central,#contenido,footer,#galeria-fotografias{
    width: 100%;
    margin: 0 auto;
  }
  #titulo-cabecera, nav,.contenedor-imagen-secundaria{
    width: 50%;
  }
  #titulo-cabecera h1{
    padding: 0 0 0 20px;
    font-size: 1.32em;
  }
  nav{
    text-align: right;
  }
  nav ul > li{
    padding: auto;
  }
  .contenedor-imagen-secundaria > figure{
    padding: 25px;
  }
  .contenedor-imagen-secundaria figure > img, .contenedor-galeria figure > img{
    width: 100%;
  }
  footer div{
    width: 25%;
    font-size: 0.8em;
    margin-bottom: 30px;
  }
  .footer-bloque3 p>img{
    width: 10%;
  }
  .contenedor-galeria{
    width: 33.33%;
  }
  .contenedor-galeria > figure{
    margin:15px;
  }
}

@media all and (max-width:900px) {
  #contenedor{
    width: 100%;
  }
  body{
    font-size: 6vw;
  }
  header, #imagen-central, #contenido,footer,#galeria-fotografias{
    width: 97%;
    margin: 0 auto;
  }
  #titulo-cabecera, nav{
    width: 100%;
    text-align: center;
  }
  #titulo-cabecera h1{
    margin: 0 auto;
  }
  .contenedor-imagen-secundaria,.contenedor-galeria{
    width: 100%;
  }
  .contenedor-imagen-secundaria figure>img,.contenedor-galeria figure>img{
    width: 100%;
  }
  footer>div{
    width: 100%;
    font-size:3.5vw;
  }
  .footer-bloque4{
    margin-bottom: 30px;
  }
  .footer-bloque3 p>img{
    width: 3.5vw;
  }
}
