body{
  font-family: 'Dancing Script', cursive;
  background: #000;
  font-size: 1.5em;
}
header{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  color: #fff;
  text-shadow: 2px 2px #02010A;
  display: flex;
  flex-flow: row wrap;
}
#titulo-cabecera h1{
  padding:10px 0 0 15px;
}
nav ul > li{
  display: inline-block;
  margin-right: 30px;
  list-style: none;
}
nav ul li > a{
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px #02010A;
}
#imagen-central{
  text-align: center;
  background: #82c3a6;
  margin: 0 auto;
}
.contenedor-imagen-principal{
  width: 80%;
  margin: 0 auto;
  padding: 30px;
}
img{
  box-shadow: 2px 2px #02010a;
  width: 100%;
}
#contenido{
  display: flex;
  flex-flow: row wrap;
  background: #D5C75F;
}
.contenedor-imagen-secundaria{
  text-align: center;
}
figure > a{
  color: #000;
}
.imagen-secundaria1 img:hover{
  transform: rotate(10deg);
  box-shadow:  2px 2px #82c3a6;
}
.imagen-secundaria1 img,.imagen-secundaria2 img{
  transition: transform 1s;
}
.imagen-secundaria2 img:hover{
  transform: translate(5px,-20px);
  box-shadow:  2px 2px #82c3a6;
}
@media all and (min-width:900px) {
  header, #imagen-central,#contenido{
    width: 80%;
    margin: 0 auto;
  }
  #titulo-cabecera, nav,.contenedor-imagen-secundaria{
    width: 50%;
  }
  nav{
    text-align: right;
  }
  nav ul > li{
    padding: 26px 0 0 0;
  }
  .contenedor-imagen-secundaria >figure{
    padding: 25px;
  }
  .contenedor-imagen-secundaria figure > img{
    width: 100%;
  }
}

@media all and (max-width:900px) {
  body{
    font-size: 6vw;
  }
  header, #imagen-central, #contenido{
    width: 97%;
    margin: 0 auto;
  }
  #titulo-cabecera, nav{
    width: 100%;
    text-align: center;
  }
  #titulo-cabecera h1{
    margin: 0 auto;
  }
  .contenedor-imagen-secundaria{
    width: 100%;
  }
  .contenedor-imagen-secundaria figure>img{
    width: 100%;
  }
}
